{% extends 'e_store/base.html' %} 
{% load crispy_forms_tags %} 


{% block content %}
<div class="row justify-content-center">
  <div class="d-block border border-primary rounded-corner col-4 m-0 p-0">
    <h2 class="bg-primary text-light text-center d-block">
      Login
    </h2>
    <div class="p-3">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %} 
        {{ form|crispy }} 
        <!-- {% if form.errors %} 

            {% for field in form %} 
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

        {% endif %} -->
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
