{% extends 'e_store/base.html' %}

{% load crispy_forms_tags %} 

{%load static %}

{% block modal %}

<!-- Modal -->
<div class="modal fade" id="placeordermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalCenterTitle">Transaction complete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-success text-center font-weight-bold">Thank you for buying to us!</h4>
        <p class="text-center">You may check all your orders in details at your profile page.
          Redirecting to home.
        </p>
        <p id="transaction_id_ajax"></p>
        <p id="payment_type_ajax"></p>
        <p id="name_ajax"></p>
        <p id="mobile_ajax"></p>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}



{% block content%}
<div class="text-center">
  <h2 class="h2 d-block bg-primary text-light">Checkout Details</h2>
</div>
<div class="row col-md-6 col-lg-12">
  <div class="cart-items-div col-md-6 col-12" id="update-panel">
    
  </div>
  <div class="col-12 col-md-6">
    {% if address %}
      {% csrf_token %}
      <div class="address-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold">Address:</span>
        </div>
        <div class="font-weight-bold tex-center">
          {% for i in address.get_complete_address %}{{ i }}{% endfor %}
        </div>
      </div>
      <div class="name-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold">Name:</span>
        </div>
          <div class="font-weight-bold text-center col-6 text-center">
            {{ address.name }}
          </div>
      </div>
      <div class="contact-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold">Mobile:</span>
        </div>
          <div class="font-weight-bold text-center col-6">
            {{ address.mobile }}
          </div>
      </div>
      <div class="cart-subtotal-div d-flex justify-content-between">
        <div class="col-6 text-center ">
          <span class="text-weight-bold">Cart Subtotal:</span>
          
        </div>
          <div class="font-weight-bold text-center col-6 ">
            <span class="currency">₱</span>
            <span class="cart-sub-total"></span>  
          </div>
      </div>
      <div class="shippping-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold ">Shipping Fee:</span>
        </div>
          <div class="font-weight-bold text-center col-6">
            <span class="currency">₱</span>
            <span class="ship_fee">{{ address.get_est_fee }}</span>
          </div>
      </div>
      <div class="total-pay-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold ">Total Payment:</span>
        </div>
          <div class="font-weight-bold text-center col-6">
            <span class="currency">₱</span>
            <span class="total_payment"></span>
          </div>
      </div>
      <div class="cod-div d-flex justify-content-between">
        <div class="col-6 text-center">
          <span class="text-weight-bold">Payment:</span>
        </div>
        <div class="col-6 text-center">
          <select class="form-control" id="pay-method">
            <option value="COD" selected >Cash on Delivery</option>
            <option value="PayMaya">Pay via PayMaya</option>
            <option value="Gcash">Pay via Gcash</option>
            <option value="Bank">Pay via bank</option>
          </select>
            </div>
      </div>
      <div class="button-divs row text-right">
        <div class="col-12 my-2">
          <button class="place-order btn btn-danger btn-small" href="#">Place Order</button>
        </div>
      </div>
      {% endif %}
  </div>
</div>

{% endblock %}
